@model Concesionaria.Models.ModelsSupport.ManteAutoCreate

@using (Ajax.BeginForm("CreateMantenimientoAutopartes", "Mantenimiento", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "frmMantenimiento", OnSuccess = "SuccessMantAuto_C" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo Mantenimiento</h5>
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdAutopartes, "IdAutopartes", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdAutopartes, new SelectList(ViewBag.Autopartes, "Id", "Value"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdAutopartes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cantidad_Autopartes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cantidad_Autopartes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cantidad_Autopartes, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Aceptar</button>
        </div>
    </div>
}

<script>
    function SuccessMantAuto_C(data) {
        MantenimientoAutopartes();
        if (data == "1") {
            $('#ManteAutoModal').modal("hide");
            Swal.fire({
                position: "top",
                title: "Correcto",
                text: "Autoparte de mantenimiento creada",
                icon: "success",
                button: "Aceptar",
            });
        }
        else if (data == "2") {
            $('#ManteAutoModal').modal("hide");
            Swal.fire({
                position: "top",
                title: "Atención",
                text: "El mantenimiento ya se reparo, no se puede crear una autoparte",
                icon: "warning",
                button: "Aceptar",
            });
        }
        else {
            $('#ManteEmpModal').modal("hide");
            Swal.fire({
                position: "top",
                title: "Error",
                text: "Error No Reconocido",
                icon: "warning",
                button: "Aceptar",
            });
        }

    }
</script>

