@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--[I] Mantenimiento-->
<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row col-12">
                    <button class="btn btn-primary col-2" id="Btn_NewMantenimiento">Nuevo +</button>
                    <h5 class="col-8 text-center">Mantenimiento</h5>
                    <div class="col-2"></div>
                </div>
                <br />
                <div class="">
                    @Html.EJS().Grid("Grid_Mantenimiento").RowSelected("RowClearSelect").RowDeselected("RowClearSelect").AllowResizing(true).AllowSorting().AllowFiltering().Columns(col =>
               {
                   col.Field("IdMantenimiento").HeaderText("Mantenimiento").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                   col.Field("Fecha").HeaderText("Fecha de ingreso").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Type("date").Format("yMd").Add();
                   col.Field("Usuario").HeaderText("Cantidad de autos").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Automovil").HeaderText("Automovil-Modelo").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Estado").HeaderText("Estado").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.HeaderText("Opciones").Template("#templateMantenimiento").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
               }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageCount(5).PageSize(4)).Render()
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .e-grid .e-headercell {
        background-color: #eeeeee;
    }

    .e-grid .e-gridheader {
        color: black;
    }
</style>

<script id="templateMantenimiento" type="text/x-template">
    <div class="row text-center">
        <div class="col-md-12 ">
            <div class="">
                <a class="text-succcess" href="javascript:void(0)" onclick="RowSelectMantenimiento(${IdMantenimiento})" data-toggle="tooltip" data-placement="top" title="Ver Mantenimiento">
                    <i class="fa fa-eye"></i>
                </a>
                ${if(Estado=="En reparación")}
                <a class="text-danger" style="padding:0px,5px,0px,5px; margin-left:10px; margin-right:10px" href="javascript:void(0)" onclick="Cancelar(${ IdMantenimiento })" data-toggle="tooltip" data-placement="top" title="Cancelar">
                    <i class="fa fa-remove"></i>
                </a>
                <a class="text-succcess" href="javascript:void(0)" onclick="Pagar(${IdMantenimiento})" data-toggle="tooltip" data-placement="top" title="Marcar como pagado">
                    <i class="fa fa-money"></i>
                </a>
                ${else}
                
                ${/if}

            </div>
        </div>
    </div>
</script>

<!--[F] PromocionList-->
<!--[I] PromocionAuto-->
<br />
<div id="viewMantenimiento" class="row" hidden>
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row col-12">
                    <h5 class="col-12 text-center">Autopartes del Mantenimiento</h5>
                </div>
                <br />
                <div class="row col-12">
                    <button class="btn btn-primary col-2" id="Btn_NewMantenimientoAutopartes">Nuevo +</button>
                    <div class="col-8 text-center"><h6 id="num"></h6></div>
                    
                    <div class="col-2"></div>
                </div>
                <br />
                <div class="">
                    @Html.EJS().Grid("Grid_MantenimientoAutopartes").RowSelected("SelectMantenimientoAutoparte").AllowResizing(true).AllowSorting().AllowFiltering().Columns(col =>
                    {
                    col.Field("IdManten_Autopar").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                    col.Field("Precio").HeaderText("Precio").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("IdMantenimiento").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                    col.Field("Autopartes").HeaderText("Autopartes").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("CantidadAutopartes").HeaderText("CantidadAutopartes").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.HeaderText("Opciones").Template("#templateMantenimientoAutopartes").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageCount(4).PageSize(4)).Render()
                </div>
            </div>
        </div>
    </div>
</div>

<script id="templateMantenimientoAutopartes" type="text/x-template">
    <div class="row text-center">
        <div class="col-md-12 ">
            <div class="">
                <a class="text-succcess" href="javascript:void(0)" onclick="SelectMantenimientoAutoparte(${IdManten_Autopar})" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="text-danger" style="padding:0px,5px,0px,5px; margin-left:10px; margin-right:10px" href="javascript:void(0)" onclick="DeleteMantenimientoAutoparte(${ IdManten_Autopar })" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="fa fa-remove"></i>
                </a>
            </div>
        </div>
    </div>
</script>
<!--[I] PromocionAuto-->

<div class="modal fade" id="MantenimientoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="frmMantenimiento">

            </div>

        </div>
    </div>
</div>

<script>

    //[I] PromocionList
    $(function () { MantenimientoLoad(); })

    function MantenimientoLoad() {
            $.get('@Url.Action("MantenimientoJson","Mantenimiento")', function (data) {
                var grid = document.getElementById('Grid_Mantenimiento').ej2_instances[0]; // Grid instance
                grid.dataSource = JSON.parse(data);
            });
        }

    $('#Btn_NewMantenimiento').click(function () {
        RowClearSelect();
             $.get('@Url.Action("CreateMantenimiento","Mantenimiento")', function (data) {
                 $('#frmMantenimiento').html(data);
                 $('#MantenimientoModal').modal("show");
                });
    });

    function RowSelectMantenimiento(IdMantenimiento) {
        $.get('@Url.Action("MantenimientoAutopartesJson","Mantenimiento", new { IdMantenimiento = "_id_" })'.replace('_id_', IdMantenimiento), function (data) {
            $("#viewMantenimiento").removeAttr("hidden");
            var grid = document.getElementById('Grid_MantenimientoAutopartes').ej2_instances[0]; // Grid instance
            grid.dataSource = JSON.parse(data.JsonString);
            var text ="Modelo del automovil:" +" "+ data.num;
            $('#num').text(text);
        });
    }

    function Pagar(IdMantenimiento){
        $('#Btn_NewMantenimientoAutopartes').attr("disabled", false);
            Swal.fire({
                position: "top",
                title: 'Pagar',
                text: "¿Marcar como pagado?",
                icon: 'success',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Aceptar',
                reverseButtons: true
        }).then((result) => {
                if (result.value) {
                    $.get('@Url.Action("PagarVen", "Mantenimiento", new { IdMantenimiento = "_id_" })'.replace('_id_', IdMantenimiento), function (data) {
                        MantenimientoLoad();
                        Swal.fire({
                            position: "top",
                            title: "Mantenimiento pagado",
                            icon: "success",
                            button: "Aceptar",
                        });
                    });
                } 
            });
    };

    function Cancelar(IdMantenimiento){
        $('#Btn_NewMantenimientoAutopartes').attr("disabled", false);
            Swal.fire({
                position: "top",
                title: 'Cancelar',
                text: "Desea cancelar el mantenimiento!",
                icon: 'warning',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Aceptar',
                reverseButtons: true
        }).then((result) => {
                if (result.value) {
                    $.get('@Url.Action("CancelarMant", "Mantenimiento", new { IdMantenimiento = "_id_" })'.replace('_id_', IdMantenimiento), function (data) {
                        MantenimientoLoad();
                        Swal.fire({
                            position: "top",
                            title: "Mantenimiento cancelado",
                            icon: "success",
                            button: "Aceptar",
                        });
                    });
                } 
            });
    };

    //[F] PromocionList

    //[I] Accesorio

    function MantenimientoAutopartesLoad() {

            $.get('@Url.Action("MantenimientoAutopartesJson","Promocion")', function (data) {
                $("#viewMantenimiento").removeAttr("hidden");
                var grid = document.getElementById('Grid_MantenimientoAutopartes').ej2_instances[0]; // Grid instance
                grid.dataSource = JSON.parse(data.JsonString);
                var text = "Modelo del automovil:" + " " + data.num;
                $('#num').text(text);
            });
        }
    function RowClearSelect() { $("#viewMantenimiento").attr("hidden", true); }

    $('#Btn_NewMantenimientoAutopartes').click(function () {
             $.get('@Url.Action("CreateMantenimientoAutopartes","Mantenimiento")', function (data) {
                 $('#frmMantenimiento').html(data);
                 $('#MantenimientoModal').modal("show");
                });
    });

    
    

    function SelectMantenimientoAutoparte(IdManten_Autopar){
        $('#Btn_NewMantenimientoAutopartes').attr("disabled", false);
        $.get('@Url.Action("UpdateMantenimientoAutopartes", "Mantenimiento", new { IdManten_Autopar = "_id_" })'.replace('_id_', IdManten_Autopar), function (data) {
            $("#frmMantenimiento").html(data);
            $("#MantenimientoModal").modal("show");
        });
    }

    function DeleteMantenimientoAutoparte(IdManten_Autopar) {
       Swal.fire({
            position: "top",
            title: 'Eliminar',
            text: "Desea eliminar el autoparte del mantenimiento!",
            icon: 'warning',
            showCancelButton: true,
            showConfirmButton: true,
            cancelButtonColor: '#d33',
            confirmButtonColor: '#3085d6',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Eliminar',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                $.get('@Url.Action("DeleteMantenimientoAutoparte","Mantenimiento", new { IdManten_Autopar = "_ID_"})'.replace('_ID_', IdManten_Autopar), function (data) {
                    MantenimientoAutopartesLoad();
                    if (data == 2) {
                        Swal.fire({
                            position: "top",
                            title: "Mantenimiento reparado",
                            text: "No se puede eliminar",
                            icon: "warning",
                            button: "Aceptar",
                        });
                    } else if (data == 1) {
                        Swal.fire({
                            position: "top",
                            title: "Correcto",
                            text: "Autoparte Eliminada",
                            icon: "success",
                            button: "Aceptar",
                        });
                    } else {
                        Swal.fire({
                            position: "top",
                            title: "Error",
                            text: "Error No Reconocido",
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }
                });
            }
        })
    };

    

    //[F] Accesorio
</script>


