@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Clientes</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <button class="btn btn-primary col-2" id="Btn_NewClte">Nuevo +</button>
                </div>
                <br />
                <div class="row">
                    @Html.EJS().Grid("Grid_Cliente").RowSelected("SelectClte").AllowResizing(true).AllowSorting().AllowFiltering().Columns(col =>
               {
                   col.Field("IdCliente").HeaderText("Cliente").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                   col.Field("Nombre").HeaderText("Nombre").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Edad").HeaderText("Edad").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Direccion").HeaderText("Direccion").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("FechaNac").HeaderText("Fecha de Nacimiento").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Type("date").Format("yMd").Add();
                   col.Field("Sexo").HeaderText("Sexo").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("TelCasa").HeaderText("Tel. de Casa").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("TelCel").HeaderText("Tel. Celular").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("Correo").HeaderText("Correo").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.Field("RFC").HeaderText("RFC").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                   col.HeaderText("Acción").Template("#templateClte").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
               }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageCount(10)).Render()

                </div>
            </div>
        </div>
    </div>
</div>

<script id="templateClte" type="text/x-template">
    <div class="row text-center">
        <div class="col-md-12 ">
            <div class="">
                <a class="text-succcess" href="javascript:void(0)" onclick="SelectClte(${IdCliente})" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="ti-slice"></i>
                </a>
                <a class="text-danger" style="padding:0px,5px,0px,5px; margin-left:10px; " href="javascript:void(0)" onclick="DeleteClte(${IdCliente})" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="fa fa-remove"></i>
                </a>
                <a class="text-succcess" style="padding:0px,5px,0px,5px; margin-left:10px; margin-right:10px" href="javascript:void(0)" onclick="Options(${IdCliente})" data-toggle="tooltip" data-placement="top" title="Detalles">
                    <i class="ti-layers-alt"></i>
                </a>
            </div>
        </div>
    </div>
</script>

<div class="modal fade" id="CreateClteModal">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div id="frmClte">

            </div>

        </div>
    </div>
</div>

<script>
    $(function () { ClienteLoad();  })

    function ClienteLoad() {

        $.get('@Url.Action("ClienteJson","Cliente")', function (data) {
            var grid = document.getElementById('Grid_Cliente').ej2_instances[0]; // Grid instance
            grid.dataSource = JSON.parse(data);
        });
    }

    $('#Btn_NewClte').click(function () {
        $.get('@Url.Action("CreateClte","Cliente")', function (data) {
            $('#frmClte').html(data);
            $('#CreateClteModal').modal("show");
        });
    });

    function SelectClte(IdCliente) {
        $('#Btn_NewClte').attr("disabled", false);
        $.get('@Url.Action("UpdateClte", "Cliente", new { IdCliente = "_id_" })'.replace('_id_', IdCliente), function (data) {
            $("#frmClte").html(data);
            $("#CreateClteModal").modal("show");
        });
    }

    function DeleteClte(IdCliente) {
        alert("Entro para eliminar");
        swal({
            title: "Eliminar",
            text: "Desea eliminar al Cliente",
            icon: "warning",
            buttons: ["Cancelar", "Aceptar"],
            dangerMode: true,
        }).then((willDelete) => {
                if (willDelete) {
                    $.get('@Url.Action("DeleteClte","Cliente", new { IdCliente = "_id_"})'.replace('_id_', IdCliente), function (data) {
                        ClienteLoad();
                        swal("Cliente Eliminado", {
                            icon: "success",
                        });
                    });
                }
            });
    };
    function Options(IdCliente) {
        $(location).attr('href', '/Cliente/Options' + '?Id=' + IdCliente);
    }
</script>