
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
    <div class="row">
        <div class="col-12">
            <div class="card">              
                <div class="card-body">
                    
                        <div class="">
                            <button class="btn btn-primary col-2" id="Btn_NewEmp">Nuevo +</button>
                        </div>
                        <br />
                        <div class="">
                            @Html.EJS().Grid("Grid_Empleado").AllowResizing(true).AllowSorting().AllowFiltering().Columns(col =>
                       {
                           col.Field("IdEmpleado").HeaderText("Usuario").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                           col.Field("Numero").HeaderText("Número").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                           col.Field("Nombre").HeaderText("Nombre").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                           col.Field("Telefono").HeaderText("Teléfono").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                           col.Field("Tipo").HeaderText("Tipo").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                           col.Field("Estado").HeaderText("Estado").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                           col.HeaderText("Opciones").Template("#templateEmp").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                       }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageCount(2)).Render()
                        </div>
                  
                </div>
            </div>
        </div>
    </div>

    <script id="templateEmp" type="text/x-template">
        <div class="row text-center">
            <div class="col-md-12 ">
                <div class="">
                    <a class="text-succcess" href="javascript:void(0)" onclick="RowSelectEmp(${IdEmpleado})" data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="ti-user"></i>
                    </a>
                    <a class="text-secondary " style="padding:0px,5px,0px,5px; margin-left:10px; margin-right:10px" href="javascript:void(0)" onclick="Usuario(${IdEmpleado})" data-toggle="tooltip" data-placement="top" title="Ver Autos">
                        <i class="fa fa-user"> </i>
                    </a>
                    ${if(Estado==="Eliminado")}
                    <a class="text-danger"  href="javascript:void(0)" onclick="ActivateEmp(${ IdEmpleado })" data-toggle="tooltip" data-placement="top" title="Activar">
                        <i class="fa fa-check"></i>
                    </a>
                    ${else}
                    <a class="text-danger" href="javascript:void(0)" onclick="DeleteEmp(${ IdEmpleado })" data-toggle="tooltip" data-placement="top" title="Eliminar">
                        <i class="fa fa-remove"></i>
                    </a>
                    ${/if}
                </div>
            </div>
        </div>
    </script>

    <div class="modal fade" id="CreateEmpModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="frmEmp">

                </div>
               
            </div>
        </div>
    </div>

    <script>

        $(function () { EmpleadoLoad(); })

        function EmpleadoLoad() {

            $.get('@Url.Action("EmpleadoJson","Empleado")', function (data) {
                var grid = document.getElementById('Grid_Empleado').ej2_instances[0]; // Grid instance
                grid.dataSource = JSON.parse(data);
            });
        }

        $('#Btn_NewEmp').click(function(){
             $.get('@Url.Action("CreateEmp","Empleado")', function (data) {
                 $('#frmEmp').html(data);
                 $('#CreateEmpModal').modal("show");
                });
        });

        // [I] Row Select Grid
        function RowSelectEmp(Id) {
            $.get('@Url.Action("UpdateEmp", "Empleado", new { IdEmpleado = "_id_" })'.replace('_id_', Id), function (data) {
                $("#frmEmp").html(data);
                $("#CreateEmpModal").modal("show");
            });

        }

        function Usuario(id) {
         $.get('@Url.Action("Create","Usuario", new { Id = "_ID_"})'.replace('_ID_', id), function (data) {
             $('#frmEmp').html(data);
             $('#CreateEmpModal').modal("show");
                    });
    }

        function DeleteEmp(id) {


            Swal.fire({
                position: "top",
                title: 'Eliminar',
                text: "Desea eliminar empleado!",
                icon: 'warning',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Eliminar',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    $.get('@Url.Action("DeleteEmp","Empleado", new { Id = "_ID_"})'.replace('_ID_', id), function (data) {
                        EmpleadoLoad();
                        Swal.fire({
                            position: "top",
                            title: "Correcto",
                            text: "Empleado Eliminado",
                            icon: "success",
                            button: "Aceptar",
                        });
                    });
                }
            })



        //    swal.fire({
        //    position: "top",
        //        title: "Eliminar",
        //        text: "Desea eliminar empleado",
        //    icon: "warning",
        //    buttons: ["Cancelar", "Aceptar"],
        //    dangerMode: true,
        //})
        //    .then((willDelete) => {
        //        if (willDelete) {

        //        }
        //    });
        };
        function ActivateEmp(id) {

            Swal.fire({
                position: "top",
                title: 'Activar',
                text: "Desea activar empleado!",
                icon: 'warning',
                showCancelButton: true,
                showConfirmButton: true,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Activar',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    $.get('@Url.Action("ActiveEmp","Empleado", new { Id = "_ID_"})'.replace('_ID_', id), function (data) {
                        EmpleadoLoad();
                        Swal.fire({
                            position: "top",
                            title: "Correcto",
                            text: "Empleado Activado",
                            icon: "success",
                            button: "Aceptar"
                        });
                    })
                }
            })
            @*Swal.fire({
                position: "top",
                title: "Activar",
                text: "Desea activar empleado!",
                icon: "warning",
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    $.get('@Url.Action("ActiveEmp","Empleado", new { Id = "_ID_"})'.replace('_ID_', id), function (data) {
                        EmpleadoLoad();
                        Swal.fire({
                            position: "top",
                            title: "Correcto",
                            text: "Empleado Activado",
                            icon: "success",
                            button: "Aceptar",
                        });
                    });
                }
            });*@
        };
        // [F] Row Select Grid



    </script>